<form action="/memos" method="post">
  <div class="field">
    <label for="memo_title">タイトル</label>
    <textarea name="title" id="memo_title"></textarea>
  </div>

  <div class="field">
    <label for="memo_body">内容</label>
    <textarea name="body" id="memo_body"></textarea>
  </div>
  
  <div class="actions">
    <input type="submit" value="保存">
  </div>
</form>
