<a href="/memos/new" ><button>追加</button></a>

<ul>
  <% if @memos %>
    <% @memos.each do |memo| %>
      <li data-id= "<%= memo[:id] %>">
        <a href="/memos/<%= memo[:id] %>"><%= h memo[:title] %></a>
      </li>
    <% end %>
  <% end %>
</ul>
