<div class = "field"><%= h @memo[0]['title'] %></div>
<div class = "field"><%= h @memo[0]['body'] %></div>
<br>

<div class="button">
  <a href = "/memos/<%= hattr @memo[0]['id'] %>/edit"><button>変更</button></a>
</div>

<form class="button" method="post" action="/memos/<%= @memo[0]['id'] %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="削除">
</form>
