<div class = "field"><%= h @memo[:title] %></div>
<div class = "field"><%= h @memo[:body] %></div>
<br>

<div class="button">
  <a href="/memos/<%= @memo[:id] %>/edit"><button>変更</button></a>
</div>

<form class="button" method="post" action="/memos/<%= @memo[:id] %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="削除">
</form>
